$bg-color:rgb(255, 255, 255);

.bgNav{
    background-color:$bg-color ; 
    width: 100%;
}
.bgColor{
   background-color:$bg-color ; 
   border-bottom: 1px solid #d6d3d3;
}
.nav-item a{
    font-weight: 600;
    color: #000000 !important;
    padding-right: 25px !important;
}
.sign-up a{
    background-image: linear-gradient(to bottom right, #2CDD8C, #5DE95E);
    padding: 8px 23px !important;
    border-radius: 30px 30px 30px 30px ;
    padding-bottom: 10px;
    color: #ffffff !important;
    text-align: center;
}
.sign-up a:hover ,.nav-item a:hover{
    text-decoration: none;
}