.custom-select, .custom-select:focus{
    border: none !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    box-shadow: none !important;
    padding: 0px !important;
}
.level-input{
    margin-bottom: 0px;
    font-size: 14px;
    color: gray;
}
.number-in{
    width: 100%;
    border: none !important;
}